$color: 	#d36154;

h1 {
  color: $color;
}

.big-row > [class*='col-']{
  border: 2px solid white;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0px;
}

li {
  margin: 1rem auto;
}

span.book_id {
  display: none;
}

html, body { height: 100%; margin: 0; padding: 0; }

#map {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
  display: none;
  border: 2px solid blue;
  border-radius: 5px;
}

#searchResults > .row {
  display: flex;
  flex-wrap: wrap;
}

#searchResults > .row > .col-md-1, #searchResults > .row > .col-md-4 {
  display: flex;
  align-items: center;
}


div.jumbotron {
  margin: 1rem auto;
}


/** media queries **/
@media screen and (max-width: 1200px){
  div.container {
    width: 100%;
  }
}
